In [19]:
#Downloading the Titanic dataset from Kaggle and save it to orig_df, a copy is provided with this exercise and you can upload it to your drive folder.
import pandas as pd
df = pd.read_csv('/Users/dawidfroncisz/Desktop/AI-Lab-Tasks/Session 5/titanic3.csv')
orig_df = df

In [20]:
#Explore the Titanic dataset
#Print all samples and check how many samples and features the Titanic dataset has
print(orig_df)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex    age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.00      0      0   24160  211.3375       B5        S    2
1       male   0.92      1      2  113781  151.5500  C22 C26        S   11
2     female   2.00      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.00      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.00      1      2  113781  151.5500  C22 C26        S  NaN
...      ...    ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.50      1      0    2665   14.4542      NaN        C  NaN
1305  female    NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.50      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.00      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.00      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]

In [21]:
#Check the type of each variable (data type)
#int type is ok, float64 is ok as well but you may change it to int, object type need to be changed to int (object is a string in pandas and perform a string operation)
df.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [22]:
d = {'female': 0, 'male': 1}
df['sex'] = df['sex'].map(d)

from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df['embarked'] = le.fit_transform(df['embarked'])
df['boat'] = le.fit_transform(df['boat'])
df['home.dest'] = le.fit_transform(df['home.dest'])
print(df)

      pclass  survived                                             name  sex  \
0          1         1                    Allen, Miss. Elisabeth Walton    0
1          1         1                   Allison, Master. Hudson Trevor    1
2          1         0                     Allison, Miss. Helen Loraine    0
3          1         0             Allison, Mr. Hudson Joshua Creighton    1
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)    0
...      ...       ...                                              ...  ...
1304       3         0                             Zabour, Miss. Hileni    0
1305       3         0                            Zabour, Miss. Thamine    0
1306       3         0                        Zakarian, Mr. Mapriededer    1
1307       3         0                              Zakarian, Mr. Ortin    1
1308       3         0                               Zimmerman, Mr. Leo    1

        age  sibsp  parch  ticket      fare    cabin  embarked  boat   body  \
0     29.00      0      0   24160  211.3375       B5         2    11    NaN
1      0.92      1      2  113781  151.5500  C22 C26         2     2    NaN
2      2.00      1      2  113781  151.5500  C22 C26         2    27    NaN
3     30.00      1      2  113781  151.5500  C22 C26         2    27  135.0
4     25.00      1      2  113781  151.5500  C22 C26         2    27    NaN
...     ...    ...    ...     ...       ...      ...       ...   ...    ...
1304  14.50      1      0    2665   14.4542      NaN         0    27  328.0
1305    NaN      1      0    2665   14.4542      NaN         0    27    NaN
1306  26.50      0      0    2656    7.2250      NaN         0    27  304.0
1307  27.00      0      0    2670    7.2250      NaN         0    27    NaN
1308  29.00      0      0  315082    7.8750      NaN         2    27    NaN

      home.dest
0           308
1           230
2           230
3           230
4           230
...         ...
1304        369
1305        369
1306        369
1307        369
1308        369

[1309 rows x 14 columns]

In [23]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.00,0,0,24160,211.3375,B5,2,11,NaN,308
1,1,1,"Allison, Master. Hudson Trevor",1,0.92,1,2,113781,151.5500,C22 C26,2,2,NaN,230
2,1,0,"Allison, Miss. Helen Loraine",0,2.00,1,2,113781,151.5500,C22 C26,2,27,NaN,230
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.00,1,2,113781,151.5500,C22 C26,2,27,135.0,230
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.00,1,2,113781,151.5500,C22 C26,2,27,NaN,230

In [24]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        0
boat            0
body         1188
home.dest       0
dtype: int64

In [34]:
# fill missing value 'age' and 'fare'
df['age'] = df['age'].fillna(df['age'].median())
df['fare'] = df['fare'].fillna(df['fare'].median())

# drop 'cabin' and 'body' columns
df.drop(columns=['cabin', 'body'], inplace=True)

In [35]:
#Use shape attribute to check the raws (samples) and columns (features)
df.shape

(1309, 12)

In [36]:
#Use describe attribute to explore the data statistics
#Can you let me a little bit about the data, for example the age groups
# Most passengers were between 22 and 25 years old, the medium is 28 years, min only 0.17 years and max. 80 years
df.describe()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,boat,home.dest
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,2.294882,0.381971,0.644003,29.503186,0.498854,0.385027,33.281086,1.495034,21.576776,270.578304
std,0.837836,0.486055,0.478997,12.905241,1.041658,0.865560,51.741500,0.816130,8.485711,115.430272
min,1.000000,0.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,22.000000,0.000000,0.000000,7.895800,1.000000,17.000000,195.000000
50%,3.000000,0.000000,1.000000,28.000000,0.000000,0.000000,14.454200,2.000000,27.000000,323.000000
75%,3.000000,1.000000,1.000000,35.000000,1.000000,0.000000,31.275000,2.000000,27.000000,369.000000
max,3.000000,1.000000,1.000000,80.000000,8.000000,9.000000,512.329200,3.000000,27.000000,369.000000

In [37]:
#Use describe attribute at different location to explore the data statistics
#Use 3 or 4 instead of 2 to include more features (this is useful when you have lots of features)
df.describe().iloc[:,:10]

,pclass,survived,sex,age,sibsp,parch,fare,embarked,boat,home.dest
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,2.294882,0.381971,0.644003,29.503186,0.498854,0.385027,33.281086,1.495034,21.576776,270.578304
std,0.837836,0.486055,0.478997,12.905241,1.041658,0.865560,51.741500,0.816130,8.485711,115.430272
min,1.000000,0.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,22.000000,0.000000,0.000000,7.895800,1.000000,17.000000,195.000000
50%,3.000000,0.000000,1.000000,28.000000,0.000000,0.000000,14.454200,2.000000,27.000000,323.000000
75%,3.000000,1.000000,1.000000,35.000000,1.000000,0.000000,31.275000,2.000000,27.000000,369.000000
max,3.000000,1.000000,1.000000,80.000000,8.000000,9.000000,512.329200,3.000000,27.000000,369.000000

In [38]:
#Use isnull() to find columns or rows with missing values and sum them up to get the total of missing values
#Which features are the leak features?
df.isnull().sum()

pclass       0
survived     0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
embarked     0
boat         0
home.dest    0
dtype: int64

In [39]:
#We can create a boolean array (a series with True or False to indicate if a row (a sample) has missing data)
#and use it to inspect rows that are missing data
mask = df.isnull()

In [40]:
mask.head()  # rows

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked,boat,home.dest
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [41]:
#Let's improve the process by using the function any that iterate through each row and return true for any x in the raw = true
mask = df.isnull().any(axis=1)

In [43]:
mask.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [44]:
df[mask].body.head() # check body column

AttributeError: 'DataFrame' object has no attribute 'body'

In [45]:
df[mask].age.head() # check age column

Series([], Name: age, dtype: float64)

In [46]:
df[mask].embarked.head() # check embarked column

Series([], Name: embarked, dtype: int64)

In [47]:
#Use the .value_counts method to examine the counts of the values:
df.sex.value_counts(dropna=False) # How many male and female
# Assign dropna to false if you don't want to delete the missing values

sex
1    843
0    466
Name: count, dtype: int64

In [48]:
#Use the .value_counts method to examine the counts of the values:
df.embarked.value_counts(dropna=False)

embarked
2    914
0    270
1    123
3      2
Name: count, dtype: int64

In [49]:
#Use the .value_counts method to examine the counts of the values:
df.age.value_counts(dropna=False)

age
28.00    295
24.00     47
22.00     43
21.00     41
30.00     40
        ...
0.33       1
22.50      1
70.50      1
0.67       1
26.50      1
Name: count, Length: 98, dtype: int64

In [51]:
#Delete raws with high percentage of missing values
df = df.drop(
     columns=[
         "name",
         "ticket",
         "home.dest",
         "boat",
         "body",
         "cabin",
     ]
 )

KeyError: "['body', 'cabin'] not found in axis"

In [52]:
#Use the attribute describe to check whether you managed to delete the columns
#Compare it with the above df.describe()
df.describe()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,boat,home.dest
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,2.294882,0.381971,0.644003,29.503186,0.498854,0.385027,33.281086,1.495034,21.576776,270.578304
std,0.837836,0.486055,0.478997,12.905241,1.041658,0.865560,51.741500,0.816130,8.485711,115.430272
min,1.000000,0.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,22.000000,0.000000,0.000000,7.895800,1.000000,17.000000,195.000000
50%,3.000000,0.000000,1.000000,28.000000,0.000000,0.000000,14.454200,2.000000,27.000000,323.000000
75%,3.000000,1.000000,1.000000,35.000000,1.000000,0.000000,31.275000,2.000000,27.000000,369.000000
max,3.000000,1.000000,1.000000,80.000000,8.000000,9.000000,512.329200,3.000000,27.000000,369.000000

In [53]:
#Working with missing data

#Populate age missing values with thier median

df['age'] = df['age'].fillna(df['age'].median())

#Populate embarked missing values with high occurrence value

df['embarked'] = df['embarked'].fillna('S')

# map sex to a numeric type
df.sex = df.sex.map({'male': 1, 'female': 0})

# map embarked to a numeric type
df.embarked = df.embarked.map({'S': 2, 'C': 1, 'Q':0})

#fill any other missing value with 0 (is not good practice but to avoid common error of NaN value still exist)
df.fillna(0,inplace=True)

In [54]:
print(df.sex)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1304    0.0
1305    0.0
1306    0.0
1307    0.0
1308    0.0
Name: sex, Length: 1309, dtype: float64

In [55]:
#Splitting data into training and testing datasets
from sklearn.model_selection import train_test_split
#Assign survived column (targets) to y
y = df.survived
#Delete survived column from X (samples)
X = df.drop(columns="survived")
#Now split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=11)

In [56]:
#check the y_train (target)
print(y_train)

1182    1
1106    0
558     1
1125    0
793     0
       ..
583     1
332     0
1293    0
1115    0
1104    0
Name: survived, Length: 916, dtype: int64

In [57]:
#check the X_train (samples)
print(X_train)

      pclass                                               name  sex   age  \
1182       3                   Salkjelsvik, Miss. Anna Kristine  0.0  21.0
1106       3             Panula, Mrs. Juha (Maria Emilia Ojala)  0.0  41.0
558        2                      Silven, Miss. Lyyli Karoliina  0.0  18.0
1125       3                               Petersen, Mr. Marius  0.0  24.0
793        3                         Elsbury, Mr. William James  0.0  47.0
...      ...                                                ...  ...   ...
583        2  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...  0.0  40.0
332        2                     Baimbrigge, Mr. Charles Robert  0.0  23.0
1293       3                  Williams, Mr. Howard Hugh "Harry"  0.0  28.0
1115       3                                 Pedersen, Mr. Olaf  0.0  28.0
1104       3                          Panula, Mr. Ernesti Arvid  0.0  16.0

      sibsp  parch      ticket     fare  embarked  boat  home.dest
1182      0      0      343120   7.6500       0.0    24        369
1106      0      5     3101295  39.6875       0.0    27        369
558       0      2      250652  13.0000       0.0    10        118
1125      0      0      342441   8.0500       0.0    27        369
793       0      0    A/5 3902   7.2500       0.0    27        165
...     ...    ...         ...      ...       ...   ...        ...
583       0      0  C.A. 33595  15.7500       0.0    21          1
332       0      0  C.A. 31030  10.5000       0.0    27        138
1293      0      0    A/5 2466   8.0500       0.0    27        369
1115      0      0      345498   7.7750       0.0    27        369
1104      4      1     3101295  39.6875       0.0    27        369

[916 rows x 11 columns]

In [58]:
#call the ML algorithm
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver='liblinear')
clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'Salkjelsvik, Miss. Anna Kristine'

In [ ]:
#Get the predicted and expected
#Can you tell what is predicted and expected values represent?
#Can you derive the misclassified values (wrong)
predicted = clf.predict(X=X_test)
expected = y_test

In [ ]:
#Now print the model accuracy
print(f'{clf.score(X_test, y_test):.2%}')
clf.predict(X_test)

In [ ]:
#Can you evaluate and validate the model using k-fold?
#Can you get the confusion matrix?

In [ ]:
#Save and test the model
import pickle

# Save the trained model as a pickle string.
saved_model = pickle.dumps(clf)

# Load the pickled model
clf_from_pickle = pickle.loads(saved_model)

# Use the loaded pickled model to make predictions
clf_from_pickle.predict(X_test)

In [ ]:
# To save a machine learning model produced by scikit-learn (sklearn), you can use Python's joblib library,
# which is often preferred for saving scikit-learn models due to its efficiency.

#First, ensure you have the joblib library installed. If you don't have it, you can install it using pip:

# pip install joblib

# Once you have your scikit-learn model trained and ready to save, import joblib:
import joblib


# Save the model as a pickle in a file
# You can use the joblib.dump() function. Provide the model and the file path where you want to save it:
joblib.dump(clf, 'filename.pkl')

# Load the model from the file
# Your scikit-learn model is now saved to the specified file with the ".pkl" extension.
# To load the model at a later time for use, you can use joblib.load():
clf_from_joblib = joblib.load('filename.pkl')

# Use the loaded model to make predictions
clf_from_joblib.predict(X_test)

# This process allows you to save and load scikit-learn models efficiently, preserving their state for future use without the need to retrain them.